body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;

}

.mountain-container {
    position: relative;
}

.backdrop {
    background: #bed6e8;
background: linear-gradient(180deg, rgba(190, 214, 232, 1) 0%, rgba(213, 213, 245, 1) 100%);
    clip-path: circle(200px);
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    align-items: center;
    border-color: rgba(111,111,111,0.2) transparent transparent;
}

.mountain {
    background: #54bbeb;
background: linear-gradient(90deg, rgba(84, 187, 235, 1) 33%, rgba(107, 90, 219, 1) 100%);
    clip-path: polygon(
        -30% 100%,
        130% 100%,
        50% 0%
    );
    width: 200px;
    height: 200px;
    position: absolute;
    align-items: center;
    transform: translate(-50%, -30%);
}


.snowcap {
    background: white;
    clip-path: polygon(
        -30% 100%,
        10% 85%,
        25% 90%,
        40% 80%,
        60% 85%,
        75% 75%,
        90% 80%,
        130% 100%,
        50% 0%
    );
    width: 100px;
    height: 100px;
    position: absolute;
    align-items: center;
    transform: translate(-50%, -60%);
}

.cloud1 {
    width: 116px;
    height: 40px;
    background: aqua;
    position: absolute;
    box-shadow: 10px 10px rgba(0,0,0,0.2);
    border-radius:100px;
    top: 530px;
    left:800px;
}

.cloud1:after, .cloud1:before {
    content: "";
    position: absolute;
    display: inline-block;
    background: inherit;
    border-radius: inherit;
}

.cloud1::after{
    width:33px;
    height:33px;
    top:-20px;
    left:20px;
}
.cloud1::before{
    width:60px;
    height:60px;
    top: -30px;
    left:40px;
}

.cloud2 {
    width: 116px;
    height: 40px;
    background: aqua;
    position: absolute;
    box-shadow: 10px 10px rgba(0,0,0,0.2);
    border-radius:100px;
    top: 500px;
    left:1000px;
}

.cloud2:after, .cloud2:before {
    content: "";
    position: absolute;
    display: inline-block;
    background: inherit;
    border-radius: inherit;
}

.cloud2::after{
    width:33px;
    height:33px;
    top:-20px;
    left:20px;
}
.cloud2::before{
    width:60px;
    height:60px;
    top: -30px;
    left:40px;
}